html {
    font-family: 'Roboto';
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row .title {
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main > .col {
    margin: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: #fbfbfb;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

main > .col > h2 {
    align-items: center;
}

#frequency-input-range {
    width: 80%;
}

#frequency-input-text {
    padding: 5px;
    width: 135px;
    border: none;
    border-radius: 3px;
    background-color: inherit;
    font-size: 30px;
    text-align: right;
}

.real-name {
    font-size: 50px;
    display: inline-block;
    height: 60px;
}

.actions {
    justify-content: space-around;
}

.note-informations {
    min-width: 250px;
}

.flex-1 {
    flex: 1;
}

.optional-frequency-text {
    display: none;
}

#frequency-input-text:focus {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px -2px rgba(0, 0, 0, 0.2);
    background-color: white;
}

canvas {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.btn {
    overflow: hidden;
    user-select: none;
    z-index: 1;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    display: inline-block;
    padding: .5rem;
    vertical-align: middle;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #2bbbad;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.selected-button {
    background-color: #25cae4;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25), 0 2px 7px 0 rgba(0, 0, 0, 0.22), 0 4px 1px -1px rgba(0, 0, 0, 0.3);
}

div > input[type=number] {
    max-width: 80px;
}

#oscillator-types {
    margin-bottom: 20px;
}

#oscillator-types h4 {
    margin: 0 0 5px 0;
}
